main {
  background-color: blueviolet;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.links {
  display: flex;
  flex-direction: column;
}

.searchMain {
  margin-left: 40%;
}

/* #musicInput {
  margin: 5px;    
}

#buttonSearch {
  background-color: violet;
  margin-left: 10%;
} */
