.main {
  background-color: blueviolet;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.body {
  background-color: rgb(216, 206, 206);
  padding: 5px;
}

.links {
  display: flex;
  flex-direction: column;
}

.searchMain {
  margin-left: 40%;
}

#perfil-edit {
  font-size: 30px;
  font-weight: 500;
  padding-left: 50%;
}
